@font-face {
    font-family: 'Dihjauti';
    src: url('font/Dihjauti-Regular.otf');
}

@font-face {
    font-family: 'Dihjauti-Italic';
    src: url('font/Dihjauti-Italic.otf');
}

@font-face {
    font-family: 'Dihjauti-Bold';
    src: url('font/Dihjauti-Bold.otf');
}

@font-face {
    font-family: 'Dihjauti-BoldItalic';
    src: url('font/Dihjauti-BoldItalic.otf');
}

body {
    font-family: Dihjauti, serif;
    margin: 0;
    background: #FFEFCD;
}

a {
    text-decoration: none;
}


/*header*/
header {
    height: 135px;
    background: #A58E74A6;
    font-size: 32px;
    line-height: 51.2px;
    display: flex;
    gap: 100px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    color: #FFEFCD;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 217px;
    height: 87px;
    border-radius: 30px;
    background: #A58E74B5;
    font-size: 24px;
    line-height: 38.4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    color: inherit;
}

/*end header*/


/*registration / login*/
.reg-login {
    display: flex;
    flex-direction: column;
    height: 678px;
    align-items: center;
    justify-content: center;
}

.reg-login input {
    font-family: inherit;
    border-style: none;
}

.reg-login button {
    border-style: none;
}

.headline-reg {
    width: 254px;
    height: 65px;
    font-size: 40px;
    line-height: 64px;
    color: #000000;
    text-align: center;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 694px;
    border-radius: 100px;
    background: #C4B09378;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: 70px 0;
}

.field {
    width: 485px;
    height: 51px;
    border-radius: 20px;
    background: #FFFFFFBD;
    font-size: 24px;
    padding-left: 30px;
}

.post {
    height: 51px;
    border-radius: 20px;
    padding: 0 30px;
    margin-bottom: 75px;
    background: #A58E74E8;
    font-family: inherit;
    font-size: 30px;
    line-height: 51.2px;
    text-align: center;
    color: #FFFFFF;
}

/*end registration / login*/


.common {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.outer-block {
    max-width: 1730px;
    padding: 0 95px;
}

.common p {
    margin: 0 0 42px 0;
}

.common h1 {
    margin: 25px 0;
    font-size: 64px;
    font-style: italic;
    text-align: center;
}

.common h4 {
    margin: 0;
    font-size: 32px;
}

/*rules*/
.outer-block ul {
    margin: 0 0 42px 0;
}
/*end rules*/


/*footer*/
footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 60px);
    padding: 15px;
    background: #A58E74C2;
    font-size: 32px;
    line-height: 51.2px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

footer a {
    color: inherit;
}

.extended {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 144px;
}

/*end footer*/
