@font-face {
    font-family: 'Dihjauti';
    src: url('font/Dihjauti-Regular.otf');
}

@font-face {
    font-family: 'Dihjauti-Italic';
    src: url('font/Dihjauti-Italic.otf');
}

@font-face {
    font-family: 'Dihjauti-Bold';
    src: url('font/Dihjauti-Bold.otf');
}

@font-face {
    font-family: 'Dihjauti-BoldItalic';
    src: url('font/Dihjauti-BoldItalic.otf');
}

body {
    font-family: Dihjauti, serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    height: 135px;
    background: #A58E74A6;
    font-size: 32px;
    line-height: 51.2px;
    display: flex;
    gap: 100px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 217px;
    height: 87px;
    border-radius: 30px;
    background: #A58E74B5;
    font-size: 24px;
    line-height: 38.4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    color: #FFEFCD;
}

main {
    display: flex;
    flex-direction: column;
    height: 678px;
    background: #FFEFCD;
    /*justify-content: center;*/
    /*justify-items: center;*/
    align-items: center;
}

.headline-reg {
    /*font-family: Dihjauti;*/
    font-size: 40px;
    /*font-weight: 700;*/
    line-height: 64px;
    color: #000000;
    /*text-align: right;*/

}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 694px;
    height: 545px;
    border-radius: 100px;
    background: #C4B09378;
}

.form {
    display: flex;
    flex-direction: column;
}

.post {
    width: 394px;
    height: 51px;
    border-radius: 20px;
    background: #A58E74E8;
    font-family: Dihjauti;
    font-size: 30px;
    line-height: 51.2px;
    text-align: center;
    color: #FFFFFF;


}

footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 60px);
    padding: 15px;
    background: #A58E74C2;
    font-size: 32px;
    line-height: 51.2px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}

.extended {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 144px;
}
